* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*
  transform: translateY(-$offset);
  opacity: 0;

  @at-root body.loaded  {
    opacity: 1;
    transform: translateY(0);
  }
  
}
*/
/*
  transform: translateY(-$offset);
  opacity: 0;

  @at-root body.loaded  {
    opacity: 1;
    transform: translateY(0);
  }
  
}
*/
#header {
  user-select: none;
  z-index: 1000;
  color: blue;
  width: 100%;
  height: 64px;
  background-color: #303030;
  box-shadow: 0 -100px 8px 100px rgba(0, 0, 0, 0.7), 0 -100px 20px 100px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  #header .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px; }
    #header .container .toggle-nav {
      display: none; }
    #header .container .home-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
      padding-left: 8px;
      padding-right: 8px;
      transition: background-color 0.15s ease; }
      #header .container .home-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer; }
      #header .container .home-link .logo {
        height: 32px;
        position: relative; }
      #header .container .home-link .title {
        background: url("/img/header-logo-text.png") no-repeat;
        background-size: 112px 48px;
        user-select: none;
        color: transparent;
        width: 112px;
        height: 48px;
        margin-left: 8px; }
    #header .container nav {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      #header .container nav ul {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        margin-left: 32px; }
        #header .container nav ul li {
          list-style-type: none;
          display: block; }
          #header .container nav ul li a {
            border-width: 0px;
            border-style: solid;
            border-color: transparent;
            transition: border-color 1s ease !important, border-width 1s ease !important;
            display: block;
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 16px;
            transition: background-color 0.15s ease; }
            #header .container nav ul li a:hover {
              background-color: rgba(255, 255, 255, 0.1);
              cursor: pointer; }
            #header .container nav ul li a span {
              text-transform: uppercase;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.54); }
        #header .container nav ul.right {
          float: right; }
  #header.expanded {
    background-color: transparent;
    height: 128px;
    box-shadow: none; }

body.loaded #header {
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, height 0.3s ease; }

body.hero #header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  body.hero #header.expanded {
    background-color: transparent; }

@media (max-width: 800px) {
  #header .container .home-link .title {
    display: none; } }

body.mini-header #header {
  background-color: transparent;
  height: 32px;
  opacity: 0.5;
  transition: opacity 0.3s ease, background-color 0.3s ease; }
  body.mini-header #header .home-link {
    height: 32px; }
    body.mini-header #header .home-link .logo {
      height: 24px; }
    body.mini-header #header .home-link .title {
      display: none; }
  body.mini-header #header nav ul li a {
    height: 32px;
    line-height: 32px; }
    body.mini-header #header nav ul li a span {
      font-size: 12px; }
  body.mini-header #header:hover {
    background-color: #242424;
    opacity: 1; }

@media (max-width: 600px) {
  #header {
    position: static !important;
    background-color: #242424 !important;
    height: auto !important;
    margin-bottom: 16px; }
    #header .container {
      padding: 0;
      flex-direction: column !important;
      align-items: flex-start;
      height: 64px; }
      #header .container .toggle-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        transition: background-color 0.15s ease; }
        #header .container .toggle-nav img {
          display: block;
          width: 24px;
          height: 24px;
          transition: transform 0.15s ease; }
      #header .container .home-link {
        height: 64px;
        justify-content: center;
        width: 100%; }
        #header .container .home-link .title {
          display: block; }
      #header .container nav {
        background-color: #242424;
        flex-direction: column !important;
        align-items: flex-start;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease; }
        #header .container nav ul {
          border-top: 2px solid #444;
          margin-left: 0;
          flex-direction: column;
          align-items: flex-start;
          width: 100%; }
          #header .container nav ul li {
            width: 100%; }
          #header .container nav ul li a {
            height: 48px;
            line-height: 48px;
            width: 100%; } }

body.no-js .toggle-nav img,
#header.nav-visible .toggle-nav img {
  transform: rotate(180deg); }

body.no-js nav,
#header.nav-visible nav {
  max-height: 288px !important; }

body.no-js #header {
  background: #303030 !important;
  box-shadow: 0 -100px 8px 100px rgba(0, 0, 0, 0.7), 0 -100px 20px 100px rgba(0, 0, 0, 0.5);
  height: auto !important;
  min-height: 80px !important; }
  body.no-js #header .toggle-nav {
    display: none; }
  body.no-js #header nav {
    position: static; }
  body.no-js #header .container {
    height: auto; }

#header nav ul li a:hover {
  border-width: 0 0 2px 0; }
  @media (max-width: 600px) {
    #header nav ul li a:hover {
      border-bottom-width: 0; } }
  #header nav ul li a:hover span {
    color: white; }

body[data-title=Apps] #header nav ul li.link-apps a,
body[data-title=Infographics] #header nav ul li.link-infographics a,
body[data-title=Posts] #header nav ul li.link-posts a,
body[data-title=Projects] #header nav ul li.link-projects a,
body[data-title="About Me"] #header nav ul li.link-about a,
body[data-section=app] #header nav ul li.link-apps a,
body[data-section=infographic] #header nav ul li.link-infographics a,
body[data-section=post] #header nav ul li.link-posts a,
body[data-section=project] #header nav ul li.link-projects a {
  border-width: 0 0 4px 0; }
  @media (max-width: 600px) {
    body[data-title=Apps] #header nav ul li.link-apps a,
    body[data-title=Infographics] #header nav ul li.link-infographics a,
    body[data-title=Posts] #header nav ul li.link-posts a,
    body[data-title=Projects] #header nav ul li.link-projects a,
    body[data-title="About Me"] #header nav ul li.link-about a,
    body[data-section=app] #header nav ul li.link-apps a,
    body[data-section=infographic] #header nav ul li.link-infographics a,
    body[data-section=post] #header nav ul li.link-posts a,
    body[data-section=project] #header nav ul li.link-projects a {
      border-width: 0 0 0 8px; } }
  body[data-title=Apps] #header nav ul li.link-apps a span,
  body[data-title=Infographics] #header nav ul li.link-infographics a span,
  body[data-title=Posts] #header nav ul li.link-posts a span,
  body[data-title=Projects] #header nav ul li.link-projects a span,
  body[data-title="About Me"] #header nav ul li.link-about a span,
  body[data-section=app] #header nav ul li.link-apps a span,
  body[data-section=infographic] #header nav ul li.link-infographics a span,
  body[data-section=post] #header nav ul li.link-posts a span,
  body[data-section=project] #header nav ul li.link-projects a span {
    color: white;
    font-weight: bold; }

#header nav ul li.link-apps a {
  border-color: #8BC34A; }

#header nav ul li.link-infographics a {
  border-color: #009688; }

#header nav ul li.link-posts a {
  border-color: #dd6644; }

#header nav ul li.link-projects a {
  border-color: #607D8B; }

#header nav ul li.link-about a {
  border-color: white; }

main.article article {
  /*
  .actions.app-info {

    a {
      height: $grid * 8;
      line-height: $grid * 8;
    }

    a.badge-button {
      padding: 0;
      height: $grid * 8;
      margin-top: -$grid;

      .badge {
        height: 72px;
      }

      &:hover {
        background-color: transparent;
      }
      
    }
    
  }
*/ }
  main.article article .headline {
    padding: 8px 32px;
    padding-top: 0;
    position: relative;
    display: flex; }
    main.article article .headline * {
      display: block; }
    main.article article .headline .section {
      margin-right: 16px; }
      main.article article .headline .section a {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 16px; }
    main.article article .headline .title {
      color: white;
      font-size: 32px;
      font-weight: bold;
      margin-right: 32px; }
    main.article article .headline .publish-time {
      color: white;
      font-style: italic;
      text-align: right;
      opacity: 0;
      transition: opacity 0.08s ease;
      flex: 1;
      align-self: flex-end;
      padding-bottom: 4px; }
      main.article article .headline .publish-time time {
        white-space: nowrap; }
    @media (max-width: 800px) {
      main.article article .headline {
        flex-direction: column;
        padding: 8px 16px; }
        main.article article .headline .section, main.article article .headline .title, main.article article .headline .publish-time {
          display: block;
          position: static;
          margin-top: 1ex;
          align-self: flex-start; }
        main.article article .headline .title {
          font-size: 24px; } }
    @media (max-width: 400px) {
      main.article article .headline {
        padding-left: 16px;
        padding-right: 16px; } }
  main.article article .body {
    background-color: white;
    box-shadow: 0 0 64px black; }
  main.article article .actions,
  main.article article .content,
  main.article article .attribution,
  main.article article .license {
    padding: 32px 32px;
    line-height: 1.8em; }
    main.article article .actions p + p,
    main.article article .content p + p,
    main.article article .attribution p + p,
    main.article article .license p + p {
      margin-top: 0.5em; }
    main.article article .actions a[href],
    main.article article .content a[href],
    main.article article .attribution a[href],
    main.article article .license a[href] {
      color: #dd6644; }
    main.article article .actions em,
    main.article article .content em,
    main.article article .attribution em,
    main.article article .license em {
      font-style: italic; }
    main.article article .actions strong,
    main.article article .content strong,
    main.article article .attribution strong,
    main.article article .license strong {
      font-weight: bold; }
    main.article article .actions hr:after,
    main.article article .content hr:after,
    main.article article .attribution hr:after,
    main.article article .license hr:after {
      content: "***";
      display: block;
      text-align: center;
      margin: 16px auto;
      padding-left: 2em;
      letter-spacing: 2em; }
    main.article article .actions blockquote,
    main.article article .content blockquote,
    main.article article .attribution blockquote,
    main.article article .license blockquote {
      border-left: 4px solid rgba(0, 0, 0, 0.3);
      margin: 8px;
      margin-right: 0;
      padding: 4px 8px;
      padding-right: 0; }
    main.article article .actions h1, main.article article .actions h2, main.article article .actions h3, main.article article .actions h4, main.article article .actions h5, main.article article .actions h6,
    main.article article .content h1,
    main.article article .content h2,
    main.article article .content h3,
    main.article article .content h4,
    main.article article .content h5,
    main.article article .content h6,
    main.article article .attribution h1,
    main.article article .attribution h2,
    main.article article .attribution h3,
    main.article article .attribution h4,
    main.article article .attribution h5,
    main.article article .attribution h6,
    main.article article .license h1,
    main.article article .license h2,
    main.article article .license h3,
    main.article article .license h4,
    main.article article .license h5,
    main.article article .license h6 {
      margin-top: 1em;
      margin-bottom: 1ex; }
    main.article article .actions h1,
    main.article article .content h1,
    main.article article .attribution h1,
    main.article article .license h1 {
      font-size: 24px;
      font-weight: bold; }
    main.article article .actions h2,
    main.article article .content h2,
    main.article article .attribution h2,
    main.article article .license h2 {
      font-size: 20px; }
    main.article article .actions h3,
    main.article article .content h3,
    main.article article .attribution h3,
    main.article article .license h3 {
      font-size: 16px;
      font-weight: bold; }
    main.article article .actions h4,
    main.article article .content h4,
    main.article article .attribution h4,
    main.article article .license h4 {
      font-size: 12.8px;
      font-weight: bold; }
    main.article article .actions img,
    main.article article .content img,
    main.article article .attribution img,
    main.article article .license img {
      max-width: 100%; }
    main.article article .actions code,
    main.article article .content code,
    main.article article .attribution code,
    main.article article .license code {
      font-family: 'Roboto Mono', monospace;
      font-size: 12px;
      font-weight: bold;
      border-radius: 2px;
      background-color: #333;
      color: white;
      padding: 1px 3px;
      margin: 0 2px; }
    main.article article .actions pre,
    main.article article .content pre,
    main.article article .attribution pre,
    main.article article .license pre {
      border-radius: 2px;
      background-color: #333;
      margin: 8px 0;
      padding: 8px;
      color: white; }
      main.article article .actions pre code,
      main.article article .content pre code,
      main.article article .attribution pre code,
      main.article article .license pre code {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: inherit;
        font-weight: normal; }
    main.article article .actions ul, main.article article .actions ol,
    main.article article .content ul,
    main.article article .content ol,
    main.article article .attribution ul,
    main.article article .attribution ol,
    main.article article .license ul,
    main.article article .license ol {
      margin: 16px 8px;
      padding-left: 16px; }
      main.article article .actions ul li, main.article article .actions ol li,
      main.article article .content ul li,
      main.article article .content ol li,
      main.article article .attribution ul li,
      main.article article .attribution ol li,
      main.article article .license ul li,
      main.article article .license ol li {
        padding-left: 1ex; }
    main.article article .actions :first-child,
    main.article article .content :first-child,
    main.article article .attribution :first-child,
    main.article article .license :first-child {
      margin-top: 0; }
    main.article article .actions :last-child,
    main.article article .content :last-child,
    main.article article .attribution :last-child,
    main.article article .license :last-child {
      margin-bottom: 0; }
    @media (max-width: 600px) {
      main.article article .actions,
      main.article article .content,
      main.article article .attribution,
      main.article article .license {
        padding: 16px 16px; } }
    main.article article .actions p:empty,
    main.article article .content p:empty,
    main.article article .attribution p:empty,
    main.article article .license p:empty {
      display: none; }
  main.article article .actions {
    background-color: #f4f4f4;
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: auto; }
    main.article article .actions a {
      background-color: transparent;
      display: block;
      color: #dd6644;
      font-weight: bold;
      text-transform: uppercase;
      padding: 8px 16px;
      transition: background-color 0.15s ease;
      height: 48px;
      line-height: 48px;
      padding: 0 16px;
      margin-right: 16px; }
      main.article article .actions a:hover {
        background-color: rgba(0, 0, 0, 0.05); }
      @media (max-width: 800px) {
        main.article article .actions a {
          height: 32px;
          line-height: 32px; } }
  main.article article .attribution {
    padding: 0 32px;
    padding-bottom: 8px;
    margin-top: 16px;
    text-align: right;
    color: rgba(0, 0, 0, 0.54);
    font-style: italic; }
  main.article article .license {
    padding: 16px 16px;
    padding-top: 0;
    margin-top: 16px; }
    main.article article .license p {
      background-color: #009688;
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 8px 16px; }
      main.article article .license p a {
        color: white;
        text-decoration: underline; }
  main.article article .further-reading {
    padding: 16px 32px;
    padding-top: 0; }
    @media (max-width: 600px) {
      main.article article .further-reading {
        padding: 16px 16px; } }
    main.article article .further-reading .title {
      font-size: 16px;
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 1ex;
      display: none; }
    main.article article .further-reading ul {
      border-top: 2px solid rgba(0, 0, 0, 0.1);
      padding-top: 16px; }
      main.article article .further-reading ul li {
        list-style-type: none; }
        main.article article .further-reading ul li a {
          color: #dd6644;
          font-weight: bold; }
  main.article article.project .embed {
    background-color: #607D8B; }
    main.article article.project .embed.sketchfab iframe {
      display: block;
      width: 100%; }
  main.article article.infographic {
    margin-top: -16px; }
    main.article article.infographic .infographic {
      background-color: #009688;
      padding: 0; }
      main.article article.infographic .infographic a {
        display: block; }
      main.article article.infographic .infographic img {
        display: block;
        width: 100%; }
    @media (min-width: 1100px) {
      main.article article.infographic .headline .title {
        display: none;
        font-size: 16px; }
      main.article article.infographic.aspect-wide .body {
        display: flex;
        flex-direction: column; }
        main.article article.infographic.aspect-wide .body .infographic {
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
          align-self: center;
          width: 1820px;
          max-width: 95vw; } }
  main.article article.redirect .content {
    font-size: 24px;
    font-weight: bold; }

main.article.static .section {
  display: none !important; }

main.article.static .publish-time {
  display: none !important; }

main.article.static .meta {
  display: none; }

article .comments {
  margin: 16px 32px; }

article .meta {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  min-height: 48px;
  /*
    @media (max-width: 400px) {
      align-items: stretch !important;
      flex-direction: column;

      ul {
        border-left: none !important;
        width: 100%;
      }
      
      ul + ul {
        border-top: 4px solid $color-background;
      }
      
    }
   */ }
  article .meta ul {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    padding: 0 16px;
    min-height: 32px;
    flex-wrap: wrap; }
    article .meta ul.tags {
      margin-left: auto;
      justify-content: flex-end;
      font-family: 'Roboto Mono', monospace; }
      article .meta ul.tags li {
        text-transform: none !important; }
    article .meta ul li {
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      height: 32px; }
      article .meta ul li a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        transition: background-color 0.15s ease; }
        article .meta ul li a span {
          vertical-align: middle; }
  @media (max-width: 800px) {
    article .meta {
      background: #f4f4f4;
      align-items: flex-start; }
      article .meta ul {
        flex: 1;
        /*
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
       */
        padding: 0; }
      article .meta ul + ul {
        border-left: 4px solid #fff; }
      article .meta li {
        height: auto; }
      article .meta li a {
        min-height: 32px !important;
        justify-content: flex-start !important;
        padding: 0 16px; } }

article a[href]:hover {
  text-decoration: underline; }

main.article article .section.section-app,
main.article article .section.section-infographic,
main.article article .section.section-post,
main.article article .section.section-project {
  display: none; }
  @media (max-width: 600px) {
    main.article article .section.section-app,
    main.article article .section.section-infographic,
    main.article article .section.section-post,
    main.article article .section.section-project {
      display: block; } }

article .section.section-app a,
article .section.section-infographic a,
article .section.section-post a,
article .section.section-project a,
article .section.section-term a {
  color: white; }

article .section.section-app a {
  background-color: #8BC34A !important; }

article.app .body .actions a[href],
article.app .content a[href],
article.app .links .name,
article.app .body .read-more a[href] {
  color: #8BC34A !important; }

article .section.section-infographic a {
  background-color: #009688 !important; }

article.infographic .body .actions a[href],
article.infographic .content a[href],
article.infographic .links .name,
article.infographic .body .read-more a[href] {
  color: #009688 !important; }

article.infographic .license a[href] {
  color: white !important; }

article .section.section-post a {
  background-color: #dd6644 !important; }

article.post .content a[href],
article.post .body .read-more a[href] {
  color: #dd6644 !important; }

article .section.section-project a {
  background-color: #607D8B !important; }

article.project .body .actions a[href],
article.project .content a[href],
article.project .links .name,
article.project .body .read-more a[href] {
  color: #607D8B !important; }

article .section.section-term a {
  background-color: #00BCD4 !important; }

article.section-term .headline .publish-time {
  display: none; }

body.no-js article .headline .publish-time,
body.loaded article .headline .publish-time {
  opacity: 1 !important; }

body[data-title=Infographics] main.article-list .request-infographic {
  display: flex;
  justify-content: center; }
  body[data-title=Infographics] main.article-list .request-infographic p {
    background-color: #009688;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 16px 32px;
    margin: 0 auto;
    width: auto; }
    body[data-title=Infographics] main.article-list .request-infographic p a {
      color: white;
      text-decoration: underline; }

@media (min-width: 1500px) {
  body[data-title=Infographics] main.article-list.condensed {
    max-width: 1500px; } }

@media (min-width: 1900px) {
  body[data-title=Infographics] main.article-list.condensed {
    max-width: 1900px; } }

@media (min-width: 2400px) {
  body[data-title=Infographics] main.article-list.condensed {
    max-width: 2400px; } }

body[data-title=Infographics] main.article-list.condensed .article-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center; }
  body[data-title=Infographics] main.article-list.condensed .article-list article.infographic {
    margin-top: 16px;
    background-color: transparent;
    box-shadow: none;
    position: relative; }
    @media (min-width: 900px) {
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic {
        flex: 0 0 calc(50% - 8px * 2);
        margin-right: 8px;
        margin-left: 8px; } }
    @media (min-width: 1500px) {
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic {
        flex: 0 0 calc(33.3% - 8px * 2); } }
    @media (min-width: 1900px) {
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic {
        flex: 0 0 calc(25% - 8px * 2); } }
    @media (min-width: 2400px) {
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic {
        flex: 0 0 calc(20% - 8px * 2); } }
    body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .headline {
      top: 0;
      left: 0;
      min-height: 48px;
      width: 100%;
      padding: 16px 16px;
      padding-bottom: 8px;
      background-color: rgba(0, 0, 0, 0.5);
      background-color: transparent;
      display: flex;
      align-items: flex-end; }
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .headline .title {
        display: block;
        margin: 0;
        padding: 0;
        writing-mode: bt-lr; }
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .headline .title a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        padding: 0; }
        body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .headline .title a:hover {
          text-decoration: underline; }
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .headline .section, body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .headline .links, body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .headline .publish-time {
        display: none; }
    body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .body {
      padding-top: 0; }
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .body .infographic {
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.6); }
        body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .body .infographic img {
          width: 100%;
          max-width: none; }
      body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .body .content {
        display: none; }
    body[data-title=Infographics] main.article-list.condensed .article-list article.infographic .meta {
      display: none; }

.article-list article {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.6);
  background-color: white; }
  .article-list article .headline {
    padding-top: 8px; }
    .article-list article .headline a {
      display: inline-block; }
    .article-list article .headline * {
      display: inline-block; }
    .article-list article .headline .section {
      margin-left: -8px;
      margin-right: -16px; }
      .article-list article .headline .section a {
        z-index: 50;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #dd6644;
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px 32px; }
      @media (max-width: 1080px) {
        .article-list article .headline .section {
          margin-left: 16px; } }
    .article-list article .headline .title {
      margin-left: 32px; }
      .article-list article .headline .title a {
        color: #777;
        font-size: 20px;
        font-weight: bold;
        padding: 12px 0;
        text-decoration: underline; }
      .article-list article .headline .title .links {
        padding: 0 8px;
        position: relative;
        bottom: -6px;
        display: inline-flex;
        justify-content: flex-start;
        align-items: start; }
        .article-list article .headline .title .links a {
          text-align: center;
          transition: background-color 0.15s ease;
          min-width: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none !important; }
          .article-list article .headline .title .links a img {
            opacity: 0.3;
            width: 24px;
            padding: 0 8px;
            box-sizing: content-box;
            transition: opacity 0.15s ease; }
          .article-list article .headline .title .links a .name {
            display: none;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 16px; }
          .article-list article .headline .title .links a:hover {
            background-color: rgba(0, 0, 0, 0.07); }
            .article-list article .headline .title .links a:hover img {
              opacity: 0.5; }
        @media (max-width: 800px) {
          .article-list article .headline .title .links {
            display: flex;
            display: none;
            padding: 0;
            bottom: 0;
            margin-left: -16px; }
            .article-list article .headline .title .links .name {
              display: inline-block !important; }
            .article-list article .headline .title .links img {
              display: none; } }
    .article-list article .headline .publish-time {
      font-style: italic;
      float: right;
      color: rgba(0, 0, 0, 0.54);
      padding: 12px 0;
      padding-right: 32px;
      transition: opacity 0.08s ease;
      opacity: 0; }
      .article-list article .headline .publish-time:hover {
        text-decoration: none; }
    @media (max-width: 800px) {
      .article-list article .headline {
        padding-bottom: 16px; }
        .article-list article .headline .section, .article-list article .headline .title, .article-list article .headline .publish-time {
          float: none;
          display: block;
          margin-left: 16px;
          margin-right: 16px;
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 1ex; }
        .article-list article .headline .section {
          margin-left: 16px;
          margin-right: 16px; }
          .article-list article .headline .section a {
            padding: 12px 16px; }
        .article-list article .headline .publish-time {
          padding: 0; } }
  .article-list article .body {
    clear: both; }
  .article-list article .summary {
    line-height: 1.8em;
    padding: 16px 32px; }
    .article-list article .summary p + p {
      margin-top: 0.5em; }
    .article-list article .summary a[href] {
      color: #dd6644; }
    .article-list article .summary em {
      font-style: italic; }
    .article-list article .summary strong {
      font-weight: bold; }
    .article-list article .summary hr:after {
      content: "***";
      display: block;
      text-align: center;
      margin: 16px auto;
      padding-left: 2em;
      letter-spacing: 2em; }
    .article-list article .summary blockquote {
      border-left: 4px solid rgba(0, 0, 0, 0.3);
      margin: 8px;
      margin-right: 0;
      padding: 4px 8px;
      padding-right: 0; }
    .article-list article .summary h1, .article-list article .summary h2, .article-list article .summary h3, .article-list article .summary h4, .article-list article .summary h5, .article-list article .summary h6 {
      margin-top: 1em;
      margin-bottom: 1ex; }
    .article-list article .summary h1 {
      font-size: 24px;
      font-weight: bold; }
    .article-list article .summary h2 {
      font-size: 20px; }
    .article-list article .summary h3 {
      font-size: 16px;
      font-weight: bold; }
    .article-list article .summary h4 {
      font-size: 12.8px;
      font-weight: bold; }
    .article-list article .summary img {
      max-width: 100%; }
    .article-list article .summary code {
      font-family: 'Roboto Mono', monospace;
      font-size: 12px;
      font-weight: bold;
      border-radius: 2px;
      background-color: #333;
      color: white;
      padding: 1px 3px;
      margin: 0 2px; }
    .article-list article .summary pre {
      border-radius: 2px;
      background-color: #333;
      margin: 8px 0;
      padding: 8px;
      color: white; }
      .article-list article .summary pre code {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: inherit;
        font-weight: normal; }
    .article-list article .summary ul, .article-list article .summary ol {
      margin: 16px 8px;
      padding-left: 16px; }
      .article-list article .summary ul li, .article-list article .summary ol li {
        padding-left: 1ex; }
    .article-list article .summary :first-child {
      margin-top: 0; }
    .article-list article .summary :last-child {
      margin-bottom: 0; }
    @media (max-width: 600px) {
      .article-list article .summary {
        padding: 16px 16px !important; } }
    .article-list article .summary .read-more {
      display: block;
      color: #dd6644;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 1em; }
      .article-list article .summary .read-more .reading-time {
        color: rgba(0, 0, 0, 0.54);
        font-weight: normal;
        text-transform: none;
        margin-left: 1ex; }

.article-list article + article {
  margin-top: 16px; }

.next-prev {
  display: flex;
  justify-content: center;
  margin: 16px 0; }
  .next-prev .pages {
    padding: 0 16px;
    text-align: center; }
    .next-prev .pages .page {
      display: inline-block; }
      .next-prev .pages .page a {
        font-size: 12px;
        border-radius: 100%;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 4px;
        padding: 0 0; }
      .next-prev .pages .page.active a {
        font-size: 14px;
        background-color: white;
        color: #242424;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 4px 0; }
  .next-prev a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.15s ease;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 32px; }
    .next-prev a:hover {
      background-color: rgba(0, 0, 0, 0.2); }
    .next-prev a.hidden {
      pointer-events: none;
      opacity: 0.2; }

main.list-app > .headline,
main.list-infographic > .headline,
main.list-post > .headline,
main.list-project > .headline {
  display: none !important; }

.article-list article.infographic .body {
  padding-top: 8px;
  display: flex;
  flex-direction: row; }

.article-list article.infographic .infographic a {
  display: block; }

.article-list article.infographic .infographic img {
  display: block;
  max-width: 480px; }

@media (max-width: 900px) {
  .article-list article.infographic .infographic img {
    max-width: 320px; } }

@media (max-width: 700px) {
  .article-list article.infographic .body {
    flex-direction: column;
    align-items: stretch; }
  .article-list article.infographic .infographic, .article-list article.infographic .infographic a, .article-list article.infographic .infographic img {
    width: 100%;
    text-align: center; }
  .article-list article.infographic .infographic img {
    max-width: 480px; } }

body.no-js main.article-list article .headline .publish-time,
body.loaded main.article-list article .headline .publish-time {
  opacity: 1 !important; }

/*
  transform: translateY(-$offset);
  opacity: 0;

  @at-root body.loaded  {
    opacity: 1;
    transform: translateY(0);
  }
  
}
*/
#header {
  user-select: none;
  z-index: 1000;
  color: blue;
  width: 100%;
  height: 64px;
  background-color: #303030;
  box-shadow: 0 -100px 8px 100px rgba(0, 0, 0, 0.7), 0 -100px 20px 100px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  #header .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px; }
    #header .container .toggle-nav {
      display: none; }
    #header .container .home-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
      padding-left: 8px;
      padding-right: 8px;
      transition: background-color 0.15s ease; }
      #header .container .home-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer; }
      #header .container .home-link .logo {
        height: 32px;
        position: relative; }
      #header .container .home-link .title {
        background: url("/img/header-logo-text.png") no-repeat;
        background-size: 112px 48px;
        user-select: none;
        color: transparent;
        width: 112px;
        height: 48px;
        margin-left: 8px; }
    #header .container nav {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      #header .container nav ul {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        margin-left: 32px; }
        #header .container nav ul li {
          list-style-type: none;
          display: block; }
          #header .container nav ul li a {
            border-width: 0px;
            border-style: solid;
            border-color: transparent;
            transition: border-color 1s ease !important, border-width 1s ease !important;
            display: block;
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 16px;
            transition: background-color 0.15s ease; }
            #header .container nav ul li a:hover {
              background-color: rgba(255, 255, 255, 0.1);
              cursor: pointer; }
            #header .container nav ul li a span {
              text-transform: uppercase;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.54); }
        #header .container nav ul.right {
          float: right; }
  #header.expanded {
    background-color: transparent;
    height: 128px;
    box-shadow: none; }

body.loaded #header {
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, height 0.3s ease; }

body.hero #header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  body.hero #header.expanded {
    background-color: transparent; }

@media (max-width: 800px) {
  #header .container .home-link .title {
    display: none; } }

body.mini-header #header {
  background-color: transparent;
  height: 32px;
  opacity: 0.5;
  transition: opacity 0.3s ease, background-color 0.3s ease; }
  body.mini-header #header .home-link {
    height: 32px; }
    body.mini-header #header .home-link .logo {
      height: 24px; }
    body.mini-header #header .home-link .title {
      display: none; }
  body.mini-header #header nav ul li a {
    height: 32px;
    line-height: 32px; }
    body.mini-header #header nav ul li a span {
      font-size: 12px; }
  body.mini-header #header:hover {
    background-color: #242424;
    opacity: 1; }

@media (max-width: 600px) {
  #header {
    position: static !important;
    background-color: #242424 !important;
    height: auto !important;
    margin-bottom: 16px; }
    #header .container {
      padding: 0;
      flex-direction: column !important;
      align-items: flex-start;
      height: 64px; }
      #header .container .toggle-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        transition: background-color 0.15s ease; }
        #header .container .toggle-nav img {
          display: block;
          width: 24px;
          height: 24px;
          transition: transform 0.15s ease; }
      #header .container .home-link {
        height: 64px;
        justify-content: center;
        width: 100%; }
        #header .container .home-link .title {
          display: block; }
      #header .container nav {
        background-color: #242424;
        flex-direction: column !important;
        align-items: flex-start;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease; }
        #header .container nav ul {
          border-top: 2px solid #444;
          margin-left: 0;
          flex-direction: column;
          align-items: flex-start;
          width: 100%; }
          #header .container nav ul li {
            width: 100%; }
          #header .container nav ul li a {
            height: 48px;
            line-height: 48px;
            width: 100%; } }

body.no-js .toggle-nav img,
#header.nav-visible .toggle-nav img {
  transform: rotate(180deg); }

body.no-js nav,
#header.nav-visible nav {
  max-height: 288px !important; }

body.no-js #header {
  background: #303030 !important;
  box-shadow: 0 -100px 8px 100px rgba(0, 0, 0, 0.7), 0 -100px 20px 100px rgba(0, 0, 0, 0.5);
  height: auto !important;
  min-height: 80px !important; }
  body.no-js #header .toggle-nav {
    display: none; }
  body.no-js #header nav {
    position: static; }
  body.no-js #header .container {
    height: auto; }

#header nav ul li a:hover {
  border-width: 0 0 2px 0; }
  @media (max-width: 600px) {
    #header nav ul li a:hover {
      border-bottom-width: 0; } }
  #header nav ul li a:hover span {
    color: white; }

body[data-title=Apps] #header nav ul li.link-apps a,
body[data-title=Infographics] #header nav ul li.link-infographics a,
body[data-title=Posts] #header nav ul li.link-posts a,
body[data-title=Projects] #header nav ul li.link-projects a,
body[data-title="About Me"] #header nav ul li.link-about a,
body[data-section=app] #header nav ul li.link-apps a,
body[data-section=infographic] #header nav ul li.link-infographics a,
body[data-section=post] #header nav ul li.link-posts a,
body[data-section=project] #header nav ul li.link-projects a {
  border-width: 0 0 4px 0; }
  @media (max-width: 600px) {
    body[data-title=Apps] #header nav ul li.link-apps a,
    body[data-title=Infographics] #header nav ul li.link-infographics a,
    body[data-title=Posts] #header nav ul li.link-posts a,
    body[data-title=Projects] #header nav ul li.link-projects a,
    body[data-title="About Me"] #header nav ul li.link-about a,
    body[data-section=app] #header nav ul li.link-apps a,
    body[data-section=infographic] #header nav ul li.link-infographics a,
    body[data-section=post] #header nav ul li.link-posts a,
    body[data-section=project] #header nav ul li.link-projects a {
      border-width: 0 0 0 8px; } }
  body[data-title=Apps] #header nav ul li.link-apps a span,
  body[data-title=Infographics] #header nav ul li.link-infographics a span,
  body[data-title=Posts] #header nav ul li.link-posts a span,
  body[data-title=Projects] #header nav ul li.link-projects a span,
  body[data-title="About Me"] #header nav ul li.link-about a span,
  body[data-section=app] #header nav ul li.link-apps a span,
  body[data-section=infographic] #header nav ul li.link-infographics a span,
  body[data-section=post] #header nav ul li.link-posts a span,
  body[data-section=project] #header nav ul li.link-projects a span {
    color: white;
    font-weight: bold; }

#header nav ul li.link-apps a {
  border-color: #8BC34A; }

#header nav ul li.link-infographics a {
  border-color: #009688; }

#header nav ul li.link-posts a {
  border-color: #dd6644; }

#header nav ul li.link-projects a {
  border-color: #607D8B; }

#header nav ul li.link-about a {
  border-color: white; }

#footer {
  z-index: 100;
  margin-top: 64px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px; }
  #footer > .container {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 16px; }
    #footer > .container a {
      text-decoration: underline; }
      #footer > .container a:hover {
        color: white; }
    #footer > .container > * {
      flex: 0 0 33%; }
    #footer > .container .donate {
      text-align: center;
      font-weight: bold; }
      #footer > .container .donate a {
        background-color: #FFC107;
        display: block;
        color: #242424;
        font-weight: bold;
        text-transform: uppercase;
        padding: 8px 16px;
        transition: background-color 0.15s ease;
        font-size: 14px;
        padding: 8px 16px;
        display: inline-block;
        text-decoration: none;
        transition: background-color 0.15s ease; }
        #footer > .container .donate a:hover {
          background-color: rgba(0, 0, 0, 0.05); }
        #footer > .container .donate a:hover {
          background-color: #ffce3a;
          text-decoration: underline; }
    #footer > .container .donate-thanks {
      display: none;
      text-align: center; }
    #footer > .container .contact {
      text-align: right; }
    @media (max-width: 600px) {
      #footer > .container {
        border-top: none;
        background-color: #242424; } }
    @media (max-width: 800px) {
      #footer > .container {
        flex-direction: column; }
        #footer > .container > * {
          margin: 8px 0; } }
  @media (max-width: 600px) {
    #footer {
      margin-top: 16px; } }

#background {
  position: absolute;
  width: 100% !important; }
  #background img {
    object-fit: cover;
    width: 100%; }
  @media (max-width: 600px) {
    #background {
      display: none; } }

body.loaded #background {
  position: fixed; }

#hero {
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
  min-height: 30em;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 64px;
  margin-bottom: -176px;
  padding-top: 128px; }
  @media (max-width: 600px) {
    #hero {
      padding-top: 0; } }
  #hero .hero-contents {
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.6);
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%; }
    @media (max-width: 600px) {
      #hero .hero-contents {
        box-shadow: none; } }
    #hero .hero-contents .spacer {
      height: 96px; }
    #hero .hero-contents .message-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: -8px; }
      #hero .hero-contents .message-box .message {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        background-color: #009688;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 16px;
        margin: 4px 0; }
        #hero .hero-contents .message-box .message.large {
          font-size: 32px;
          padding: 16px 24px; }
        #hero .hero-contents .message-box .message.small {
          background-color: #242424;
          font-style: italic; }
      #hero .hero-contents .message-box a.message:hover {
        text-decoration: underline; }
    #hero .hero-contents .title {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
      color: white;
      font-size: 32px;
      font-weight: bold;
      text-decoration: underline;
      display: inline-block;
      padding: 32px;
      padding-top: 128px; }

body[data-title=Donate] #footer .container .donate {
  display: none; }

body[data-title=Donate] #footer .container .donate-thanks {
  display: block; }

body[data-title=Donate] .content blockquote {
  margin: 16px !important;
  padding: 0 !important;
  margin-top: 32px !important;
  border-left: none !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  body[data-title=Donate] .content blockquote strong {
    background-color: #f4f4f4;
    display: block;
    color: #242424;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    transition: background-color 0.15s ease;
    color: #242424 !important;
    font-size: 24px;
    padding: 16px 32px;
    margin: 8px 16px;
    display: inline-block;
    text-transform: none;
    text-decoration: none;
    transition: background-color 0.15s ease; }
    body[data-title=Donate] .content blockquote strong:hover {
      background-color: rgba(0, 0, 0, 0.05); }
  body[data-title=Donate] .content blockquote a strong {
    background-color: #FFC107; }
  body[data-title=Donate] .content blockquote a:hover strong {
    background-color: #ffce3a;
    text-decoration: underline; }

html {
  height: 100%;
  overflow-x: hidden;
  background-color: #242424; }
  @media (max-width: 600px) {
    html {
      background-color: #111; } }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-height: 100%; }

main {
  z-index: 20;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 16px;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.8s ease;
  margin-top: 128px; }
  @media (max-width: 600px) {
    main {
      margin-top: 0; } }
  main > .headline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 32px;
    margin-bottom: 16px; }
    @media (max-width: 600px) {
      main > .headline {
        margin-left: 16px; } }
    main > .headline.taxonomy .title {
      text-transform: none;
      font-family: 'Roboto Mono', monospace;
      font-weight: normal;
      padding-bottom: 0.3ex; }
    main > .headline .taxonomy {
      background-color: #333;
      border: 3px solid rgba(255, 255, 255, 0.5);
      color: white;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      padding: 8px 16px;
      margin-right: 24px; }
      @media (max-width: 600px) {
        main > .headline .taxonomy {
          padding: 8px;
          margin-right: 16px; } }

body.hero main {
  margin-top: 128px; }

/*# sourceMappingURL=style.css.map */