
$anim-fast: 0.15s;
$anim-medium: 0.3s;
$anim-slow: 0.8s;

@mixin anim-load($offset: $grid) {
}

/*
  transform: translateY(-$offset);
  opacity: 0;

  @at-root body.loaded #{&} {
    opacity: 1;
    transform: translateY(0);
  }
  
}
*/
