
@import 'color';
@import 'metrics';

@import 'text';

main.article article {

  .headline {

    padding: $grid * 1 $grid * 4;
    padding-top: 0;
    position: relative;

    display: flex;

    * {
      display: block;
    }

    .section {

      margin-right: $grid * 2;
      
      a {
        background-color: rgba(white, 0.7);
        
        display: block;

        height: $grid * 5;
        line-height: $grid * 5;
        
        font-size: $grid * 2;
        font-weight: bold;
        text-transform: uppercase;

        padding: 0 $grid * 2;
      }
      
    }
    
    .title {
      color: white;
      
      font-size: $grid * 4;
      font-weight: bold;

      margin-right: $grid * 4;
    }

    .publish-time {
      color: white;
      font-style: italic;
      text-align: right;
      
      flex: 1;

      align-self: flex-end;
      padding-bottom: $grid * 0.5;
    }
    
    @media (max-width: 800px) {

      flex-direction: column;
      padding: $grid * 1 $grid * 2;

      .section, .title, .publish-time {
        display: block;
        position: static;

        margin-top: 1ex;
        align-self: flex-start;
      }

      .title {
        font-size: $grid * 3;
      }

    }
      
    @media (max-width: 400px) {
      padding-left: $grid * 2;
      padding-right: $grid * 2;
    }
    
  }

  .body {
    background-color: white;
  }

  .content,
  .license {
    padding: $grid * 6 $grid * 4;
    
    @include text();
    
    @media (max-width: 600px) {
      padding: $grid * 2 $grid * 2 !important;
    }

    p:empty {
      display: none;
    }
    
  }

  .license {
    padding: $grid * 2 $grid * 2;

    padding-top: 0;

    margin-top: -$grid * 2;

    p {
      background-color: $color-infographics;
      color: white;
      
      font-weight: bold;
      text-align: center;
      
      padding: $grid * 1 $grid * 2;

      a {
        color: white;
        text-decoration: underline;
      }
      
    }

  }
  
  .further-reading {

    padding: $grid * 2 $grid * 4;

    @media (max-width: 600px) {
      padding: $grid * 2 $grid * 2;
    }
    
    padding-top: 0;

    .title {
      font-size: $grid * 2;
      font-weight: bold;
      
      margin-top: 1em;
      margin-bottom: 1ex;

      display: none;
    }
    
    ul {
      
      border-top: 2px solid rgba(black, 0.1);
      padding-top: $grid * 2;
    
      li {
        list-style-type: none;

        a {
          color: $color-primary;
          font-weight: bold;
        }
        
      }
      
    }
    
  }
  
  // Handling of different types

  &.infographic {
    
    .infographic {
      padding: 0;

      img {
        width: 100%;
      }
    }
    
  }

  &.redirect {

    .content {
      font-size: 24px;
      font-weight: bold;
    }
    
  }
  
}

main.article.static {

  .section {
    display: none !important;
  }

  .publish-time {
    display: none !important;
  }

  .meta {
    display: none;
  }

}

article {
  
  .meta {
    background: white;
    
    display: flex;
    justify-content: stretch;

    ul {
      background-color: #f4f4f4;

      flex: 1;
      display: flex;

      padding: 0 $grid * 2;

      &.tags {
        justify-content: flex-end;

        font-family: 'Roboto Mono', monospace;
        li {
          text-transform: none !important;
        }
      }

      li {
        color: rgba(black, 0.4);
        font-weight: bold;
        text-transform: uppercase;

        display: inline-block;

        a {
          display: block;
          padding: $grid * 2 $grid * 2;

          transition: background-color $anim-fast ease;
          
          &:hover {
            background-color: rgba(black, 0.05);
          }
          
        }
        
      }
      
    }
    
    @media (max-width: 800px) {

      ul {
        flex-direction: column;
        flex: 1;
        padding: 0;
      }
      
      ul + ul {
        margin-left: 4px;
      }
      
    }

    @media (max-width: 400px) {
      flex-direction: column;
      
      ul + ul {
        margin-left: 0;
        margin-top: 4px;
      }

      li a {
        padding: $grid $grid * 2 !important;
      }
      
    }
    
  }
  
  a:hover {
    text-decoration: underline;
  }
        
}

main.article article .section.section-app,
main.article article .section.section-infographic,
main.article article .section.section-post,
main.article article .section.section-project {
  display: none;
}
  
article .section.section-app a,
article .section.section-infographic a,
article .section.section-post a,
article .section.section-project a,
article .section.section-term a {
  color: white;
}

article .section.section-app a {
  background-color: $color-apps !important;
}

article .section.section-infographic a {
  background-color: $color-infographics !important;
}

article .section.section-post a {
  background-color: $color-posts !important;
}

article .section.section-project a {
  background-color: $color-projects !important;
}

article .section.section-term a {
  background-color: $color-term !important;
}

article.section-term .headline .publish-time {
  display: none;
}
