
@import 'color';
@import 'metrics';

@import 'text';

$headline-padding-vertical: $grid * 1.5;

.article-list {

  article {

    box-shadow: 0 0 $grid * 4 rgba(black, 0.6);
    background-color: white;

    .headline {

      padding-top: $grid;

      a {
        display: inline-block;
      }

      * {
        display: inline-block;
      }
      
      .section {
        margin-left: -$grid;
        
        margin-right: -$grid * 2;

        a {
          z-index: 50;
          
          box-shadow: 0 2px 4px rgba(black, 0.1);
          
          background-color: $color-primary;
          
          color: white;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;

          padding: $headline-padding-vertical $grid * 4;
        }
        
        @media (max-width: 1080px) {
          margin-left: $grid * 2;
        }
        
      }

      .title {
        margin-left: $grid * 4;

        a {
          color: #777;
          font-size: 20px;
          font-weight: bold;
          
          padding: $headline-padding-vertical 0;
          text-decoration: underline;
        }

        .links {
          padding: 0 $grid;
          
          position: relative;
          bottom: -6px;
          
          display: inline-flex;
          justify-content: flex-start;
          align-items: start;
            
          a {
            
            text-align: center;

            transition: background-color $anim-fast ease;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            text-decoration: none !important;
            
            img {
              opacity: 0.3;
              width: 24px;
              padding: 0 $grid;
              box-sizing: content-box;
              transition: opacity $anim-fast ease;
            }

            .name {
              display: none;
              
              font-size: 14px;
              font-weight: bold;
              text-transform: uppercase;
              
              padding: 0 $grid * 2;
            }

            &:hover {
              background-color: rgba(black, 0.07);

              img {
                opacity: 0.5;
              }
              
            }

          }
            
          @media (max-width: 800px) {
            display: flex;
            padding: 0;
            bottom: 0;

            margin-left: -$grid * 2;
            
            .name {
              display: inline-block !important;
            }

            img {
              display: none;
            }
            
          }
          
        }
        
      }

      .publish-time {
        font-style: italic;
        float: right;
        color: $color-foreground-secondary;
        padding: $headline-padding-vertical 0;
        padding-right: $grid * 4;

        &:hover {
          text-decoration: none;
        }
        
      }
      
      @media (max-width: 800px) {

        padding-bottom: $grid * 4;
        
        .section, .title, .publish-time {
          float: none;
          display: block;
          margin-left: $grid * 2;
          margin-right: $grid * 2;

          padding-top: 0;
          padding-bottom: 0;

          margin-top: 1ex;
        }

        .section {
          margin-left: $grid * 2;
          margin-right: $grid * 2;

          a {
            padding: $grid * 1.5 $grid * 2;
          }
        }

        .publish-time {
          padding: 0;
        }

      }
      
    }

    .body {
      clear: both;
    }

    .summary {
      @include text();

      padding: $grid * 2 $grid * 4;

      @media (max-width: 600px) {
        padding: $grid * 2 $grid * 2 !important;
      }
      
      .read-more {
        display: block;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;

        margin-top: 1em;

        .reading-time {
          color: $color-foreground-secondary;
          font-weight: normal;
          text-transform: none;
          margin-left: 1ex;
        }
        
      }

    }

  }
  
  article + article {
    margin-top: $grid * 2;
  }

}

.next-prev {
  display: flex;

  justify-content: center;

  margin: $grid * 2 0;

  .pages {
    
    padding: 0 $grid * 2;
    
    .page {
      display: inline-block;

      a {
        font-size: 12px;
        border-radius: 100%;
        
        text-align: center;
        
        width: $grid * 4;
        height: $grid * 4;
        line-height: $grid * 4;
        margin: $grid $grid * 0.5;
        
        padding: 0 0;
      }

      &.active {
        
        a {
          font-size: 14px;
          background-color: white;
          color: $color-background;
          
          width: $grid * 5;
          height: $grid * 5;
          line-height: $grid * 5;
          margin: $grid * 0.5 0;
          
        }
        
      }
      
    }
    
  }

  a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color $anim-fast ease;
    
    display: block;
    
    height: $grid * 6;
    line-height: $grid * 6;
    
    padding: 0 $grid * 4;

    &:hover {
      background-color: rgba(black, 0.2);
    }

    &.hidden {
      pointer-events: none;
      opacity: 0.2;
    }
    
  }
  
}

main.list-app .section.section-app,
main.list-infographic .section.section-infographic,
main.list-project .section.section-projects,
main.list-post .section.section-post {
  //display: none;
}

main.list-app > .headline,
main.list-infographic > .headline,
main.list-post > .headline,
main.list-project > .headline {
  display: none !important;
}
  
.article-list article.infographic {

  .body {
    padding-top: $grid;
    display: flex;
    flex-direction: row;
  }

  .infographic a {
    display: block;
  }
  
  .infographic img {
    max-width: 480px;
  }

  @media (max-width: 900px) {
    
    .infographic img {
      max-width: 320px;
    }

  }
  
  @media (max-width: 700px) {

    .body {
      flex-direction: column;
      align-items: stretch;
    }

    .infographic, .infographic a, .infographic img {
      width: 100%;
      text-align: center;
    }

    .infographic img {
      max-width: 480px;
    }
    
  }
  
}
