
body[data-title=Infographics] {

  main.article-list.condensed {

    @media (min-width: 1500px) {
      max-width: 1500px;
    }
    
    @media (min-width: 1900px) {
      max-width: 1900px;
    }
    
    @media (min-width: 2400px) {
      max-width: 2400px;
    }
    
    .article-list {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      align-items: flex-end;
      
      article.infographic {

        margin-top: $grid * 2;

        @media (min-width: 900px) {
          flex: 0 0 calc(50% - #{$grid} * 2);
          margin-right: $grid;
          margin-left: $grid;
        }

        @media (min-width: 1500px) {
          flex: 0 0 calc(33.3% - #{$grid} * 2);
        }
        
        @media (min-width: 1900px) {
          flex: 0 0 calc(25% - #{$grid} * 2);
        }
        
        @media (min-width: 2400px) {
          flex: 0 0 calc(20% - #{$grid} * 2);
        }

        background-color: transparent;
        box-shadow: none;
        
        position: relative;

        .headline {
          top: 0;
          left: 0;

          min-height: $grid * 6;
          width: 100%;

          padding: $grid * 2 $grid * 2;
          padding-bottom: $grid;
          
          background-color: rgba(black, 0.5);
          background-color: transparent;

          display: flex;
          align-items: flex-end;

          .title {
            display: block;
            margin: 0;
            padding: 0;

            writing-mode: bt-lr;
          }

          .title a {
            color: white;
            font-size: $grid * 2;
            text-decoration: none;

            padding: 0;

            &:hover {
              text-decoration: underline;
            }
            
          }

          .section, .links, .publish-time {
            display: none;
          }

        }

        .body {

          padding-top: 0;
          
          .infographic {
            box-shadow: 0 0 $grid * 4 rgba(black, 0.6);
            
            img {
              width: 100%;
              max-width: none;
            }
            
          }
          
          .content {
            display: none;
          }

        }

        .meta {
          display: none;
        }

      }
      
    }
    
  }
  
}
