
@import 'color';

@mixin button-row() {
  padding: $grid $grid * 2;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

@mixin button() {
  display: block;
  
  color: $color-primary;
  font-weight: bold;
  text-transform: uppercase;
  
  padding: $grid * 1.5 $grid * 2;

  transition: background-color $anim-fast ease;
  
  &:hover {
    background-color: rgba(black, 0.05);
  }
  
}
