
$color-page-background: #242424;

$color-header-background: #303030;

$color-background: #fff;
$color-foreground-primary: rgba(black, 0.87);
$color-foreground-secondary: rgba(black, 0.54);

$color-primary: #dd6644;

$color-apps: #8BC34A;
$color-infographics: #009688;
$color-posts: #dd6644;
$color-projects: #607D8B;
$color-term: #00BCD4;

$color-background-meta: #f4f4f4;

$style-page-border: 2px solid rgba(white, 0.2);
$style-border: 2px solid rgba(black, 0.1);
