
@import 'color';
@import 'metrics';

$footer-margin: $grid * 5;

#footer {

  margin-top: $grid * 8;
  
  color: rgba(white, 0.7);

  font-size: 12px;

  > .container {
    border-top: $style-page-border;

    @include limit-width;

    padding: $footer-margin $grid * 2;

    @media (max-width: 600px) {
      border-top: none;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: white;
      }
      
    }
    
    .copyright {
      float: right;
      font-weight: bold;
    }

    @media (max-width: 600px) {

      background-color: $color-page-background;
      
      .copyright {
        float: none;
        display: block;
        margin-top: $grid;
      }
      
    }
    
  }
  
  @media (max-width: 600px) {
    margin-top: $grid * 2;
  }

}
