
@import 'button';
@import 'color';
@import 'metrics';

$footer-margin: $grid * 5;

#footer {

  z-index: 100;

  margin-top: $grid * 8;
  
  color: rgba(white, 0.7);

  font-size: 12px;

  > .container {
    border-top: $style-page-border;
    
    @include limit-width;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: $footer-margin $grid * 2;

    a {
      text-decoration: underline;

      &:hover {
        color: white;
      }
      
    }

    > * {
      flex: 0 0 33%;
    }
    
    .donate {
      text-align: center;
      font-weight: bold;

      a {
        @include button($color-donate, $color-page-background);

        font-size: 14px;
        padding: $grid $grid * 2;
        
        display: inline-block;

        text-decoration: none;
        
        &:hover {
          background-color: lighten($color-donate, 10%);
          text-decoration: underline;
        }
        
      }
      
    }

    .contact {
      text-align: right;
    }

    @media (max-width: 600px) {
      border-top: none;
      background-color: $color-page-background;
    }
    
    @media (max-width: 800px) {

      flex-direction: column;

      > * {
        margin: $grid 0;
      }
      
    }
    
  }
  
  @media (max-width: 600px) {
    margin-top: $grid * 2;
  }

}
