
@import 'anim';
@import 'color';
@import 'metrics';

$header-height: $grid * 8;
$header-logo-size: 32px;

$header-link-height: $grid * 6;

$header-mini-height: $grid * 4;
$header-mini-logo-size: $grid * 3;

$header-expanded-height: $grid * 16;

$header-logo-title-width: 112px;
$header-logo-title-height: 48px;

@mixin header-clickable() {
  
  &:hover {
    background-color: rgba(white, 0.1);
    cursor: pointer;
  }
            
}

#header {

  user-select: none;

  z-index: 1000;

  color: blue;

  width: 100%;
  height: $header-height;

  background-color: $color-header-background;
  box-shadow: 0 -100px 8px 100px rgba(black, 0.7), 0 -100px 20px 100px rgba(black, 0.5);

  display: flex;

  flex-direction: row;
  align-items: center;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  // The width-constrained element.
  .container {

    @include limit-width();

    height: 100%;
    
    display: flex;

    flex-direction: row;
    align-items: center;

    padding-left: $grid * 1;
    padding-right: $grid * 1;

    .toggle-nav {
      display: none;
    }

    .home-link {

      display: flex;

      flex-direction: row;
      align-items: center;
      
      height: $header-link-height;
      padding-left: $grid;
      padding-right: $grid;
      
      transition: background-color $anim-fast ease;
      
      @include header-clickable();

      // Logo image.
      .logo {
        height: $header-logo-size;

        position: relative;
      }

      .title {
        background: url('/img/header-logo-text.png') no-repeat;
        background-size: 112px 48px;
        
        user-select: none;
        color: transparent;

        width: $header-logo-title-width;
        height: $header-logo-title-height;

        margin-left: $grid;
      }
      
    }

    nav {
      
      display: flex;
      width: 100%;
      height: 100%;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        height: 100%;

        flex-direction: row;
        align-items: center;

        margin-left: $grid * 4;

        li {
          list-style-type: none;
          
          display: block;
          
          a {
            border-width: 0px;
            border-style: solid;
            border-color: transparent;

            transition: border-color 1s ease !important, border-width 1s ease !important;
            
            display: block;
            width: 100%;
            height: $header-link-height;
            
            line-height: $header-link-height;
            
            padding: 0 $grid * 2;

            transition: background-color $anim-fast ease;
      
            @include header-clickable();
            
            span {
              text-transform: uppercase;
              font-size: 14px;
              color: rgba(white, 0.54);
            }

          }

        }

        &.right {
          float: right;
        }

      }
      
    }
    
  }

  &.expanded {
    background-color: transparent;
    height: $header-expanded-height;
    box-shadow: none;
  }

}

body.loaded #header {
  opacity: 1;
  transition: opacity $anim-slow ease, transform $anim-medium ease,
  background-color $anim-medium ease, box-shadow $anim-medium ease, height $anim-medium ease;
}

body.hero #header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  //transition: opacity $anim-slow ease, transform $anim-medium ease;
  
  &.expanded {
    background-color: transparent;
  }
  
}

@media (max-width: 800px) {

  #header {
    
    .container .home-link .title {
      display: none;
    }
    
  }
  
}

body.mini-header #header {
  background-color: transparent;
  height: $header-mini-height;

  opacity: 0.5;

  transition: opacity $anim-medium ease, background-color $anim-medium ease;

  .home-link {

    height: $header-mini-height;
    
    .logo {
      height: $header-mini-logo-size;
    }
    
    .title {
      display: none;
    }

  }
  
  nav {
    
    ul li a {
      
      height: $header-mini-height;
      line-height: $header-mini-height;
      
      span {
        font-size: 12px;
      }
      
    }
    
  }

  &:hover {
    background-color: $color-page-background;

    opacity: 1;
  }
    
}

@media (max-width: 700px) {

  #header {

    position: static !important;
    background-color: $color-page-background !important;
    
    height: auto !important;
    margin-bottom: $grid * 2;

    .container {

      padding: 0;

      flex-direction: column !important;
      align-items: flex-start;
      
      height: $grid * 8;

      .toggle-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 0;
        left: 0;
        
        width: $grid * 8;
        height: $grid * 8;

        transition: background-color $anim-fast ease;

        img {
          display: block;
          width: 24px;
          height: 24px;

          transition: transform $anim-fast ease;
        }

      }
      
      .home-link {

        height: $grid * 8;

        justify-content: center;

        width: 100%;

        .title {
          display: block;
        }
        
      }

      nav {
        background-color: $color-page-background;
        
        flex-direction: column !important;
        align-items: flex-start;

        position: absolute;
        top: $grid * 8;
        left: 0;
        width: 100%;

        height: auto;

        overflow: hidden;
        max-height: 0;

        transition: max-height $anim-medium ease;

        ul {
          border-top: 2px solid #444;
          
          margin-left: 0;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          li {
            width: 100%;
          }

          li a {
            height: $grid * 6;
            line-height: $grid * 6;
            width: 100%;
          }
          
        }

      }
      
    }

  }

}

@media (max-width: 800px) {

  
  
}

body.no-js,
#header.nav-visible {

  .toggle-nav {
    
    img {
      transform: rotate(180deg);
    }
    
  }
  
  nav {
    max-height: $grid * 6 * 7 !important;
  }
  
}

body.no-js #header {
}
  
body.no-js {
  
  #header {
    background: $color-header-background !important;
    box-shadow: 0 -100px 8px 100px rgba(black, 0.7), 0 -100px 20px 100px rgba(black, 0.5);
    
    height: auto !important;
    min-height: $grid * 10 !important;

    .toggle-nav {
      display: none;
    }

    nav {
      position: static;
    }

    .container {
      height: auto;
    }
    
  }
  
}

#header nav ul li a:hover {
  border-width: 0 0 2px 0;

  @media (max-width: 600px) {
    border-bottom-width: 0;
  }

  span {
    color: white;
  }
  
}

body[data-title=Apps] #header nav ul li.link-apps a,
body[data-title=Articles] #header nav ul li.link-articles a,
body[data-title=Infographics] #header nav ul li.link-infographics a,
body[data-title=Posts] #header nav ul li.link-posts a,
body[data-title=Projects] #header nav ul li.link-projects a,
body[data-title="About Me"] #header nav ul li.link-about a,

body[data-section=app] #header nav ul li.link-apps a,
body[data-section=article] #header nav ul li.link-articles a,
body[data-section=infographic] #header nav ul li.link-infographics a,
body[data-section=post] #header nav ul li.link-posts a,
body[data-section=project] #header nav ul li.link-projects a {
  
  border-width: 0 0 4px 0;

  @media (max-width: 600px) {
    border-width: 0 0 0 8px;
  }

  span {
    color: white;
    font-weight: bold;
  }
}

#header nav ul li.link-apps a {
  border-color: $color-apps;
}

#header nav ul li.link-articles a {
  border-color: $color-articles;
}

#header nav ul li.link-infographics a {
  border-color: $color-infographics;
}

#header nav ul li.link-posts a {
  border-color: $color-posts;
}

#header nav ul li.link-projects a {
  border-color: $color-projects;
}

#header nav ul li.link-about a {
  border-color: white;
}

