
@import 'metrics';
@import 'header';
@import 'footer';

// Extra room at bottom when fully scrolled up
$hero-bottom-overlap: $grid * 6;

$hero-gap: $grid * 2;

#hero {
  @include limit-width();
  
  min-height: $header-height + $hero-bottom-overlap;
  height: 100vh;
  padding-bottom: $hero-bottom-overlap + $hero-gap;
  margin-bottom: -$hero-bottom-overlap - $header-height;

  padding-top: $header-expanded-height;

  @media (max-width: 600px) {
    padding-top: 0;
  }
  
  .hero-contents {
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: rgba(white, 0.2);
      font-size: 10vh;
      font-weight: bold;
      text-transform: uppercase;

      display: inline-block;
    }
    
  }
  
}
