
@mixin text() {

  line-height: 1.8em;

  * + p {
    margin-top: 1.5em;
  }

  a[href] {
    color: $color-primary;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  hr {
    
    &:after {
      content: "***";
      display: block;
      text-align: center;
      
      margin: $grid * 2 auto;
      padding-left: 2em;
      letter-spacing: 2em;
    }
    
  }

  blockquote {
    border-left: 4px solid rgba(black, 0.3);

    margin: $grid;
    margin-right: 0;
    
    padding: $grid * 0.5 $grid;
    padding-right: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1ex;
  }

  h1 {
    font-size: $grid * 3;
    font-weight: bold;
  }
  
  h2 {
    font-size: $grid * 2.5;
  }
  
  h3 {
    font-size: $grid * 2;
    font-weight: bold;
  }
  
  h4 {
    font-size: $grid * 1.6;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  code {
    font-family: 'Roboto Mono', monospace;

    font-size: 1em;
    font-weight: bold;

    border-radius: 2px;
    background-color: #333;
    color: white;
    padding: 1px 3px;
    margin: 0 2px;
  }

  pre {

    border-radius: 2px;
    background-color: #333;
    margin: $grid 0;
    padding: $grid;
    color: white;

    code {
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      
      font-size: inherit;
      font-weight: normal;
    }
    
  }

  ul, ol {
    margin: $grid * 2 $grid;

    padding-left: $grid * 2;

    li {
      padding-left: 1ex;
    }
    
  }

  figure {

    background: white;

    padding: $grid * 2 0;
    margin: $grid * 2 auto;

    img {
      width: 100%;
    }

    &.left,
    &.right,
    &.small {
      max-width: 640px;
    }
    
    &.full-bleed {
      margin-left: -$grid * 4;
      margin-right: -$grid * 4;
      padding-left: 0;
      padding-right: 0;
    }
    
    @media (max-width: 600px) {
      
      &.full-bleed {
        margin-left: -$grid * 2;
        margin-right: -$grid * 2;
      }
      
    }
    
    @media (min-width: 800px) {

      &.left, &.right {
        padding: $grid * 2;
        margin: $grid * 2;
    
        width: 50%;
        max-width: 480px;
      }

      &.left {
        float: left;
        padding-left: 0;
        margin-left: 0;
      }
      
      &.right {
        float: right;
        padding-right: 0;
        margin-right: 0;
      }
      
    }

    figcaption {
      font-size: 12px;
      font-style: italic;

      text-align: center;

      .credit {
        display: block;
      }
      
    }
    
    @media (min-width: 1440px) {

      &.left, &.right {
        box-shadow: 0 2px 10px rgba(black, 0.3);
        padding: $grid * 2;
        margin: $grid * 2 $grid * 4;
      }
    
      &.left {
        margin-left: -256px;
      }
      
      &.right {
        margin-right: -256px;
      }
      
    }
    
  }

  :first-child {
    margin-top: 0;
  }
  
  :last-child {
    margin-bottom: 0;
  }
  
}
