<article class="single project">
  
  {{ partial "article-headline.html" . }}
  
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "CreativeWork",
    "author": "Jon Ross",
    "dateModified": {{ time .Date }},

    "name": "{{ .Title }}"
    }
  </script>

  <section class="body">
    
    <section class="actions project-info">
      
      <a href="{{ .Params.project.url }}" title="Go to project website">View project</a>

      {{ if .Params.project.code }}
      <a href="{{ .Params.project.code }}" title="View project source code">Source code</a>
      {{ end }}
    </section>
    
    <section class="content">
      {{ .Content }}
    </section>

  </section>

  {{ partial "article-meta.html" . }}
  
</article>
