<h2 class="headline" itemprop="headline">
  
  <span class="section section-{{ .Section }}"><a href="{{ .Section | absURL }}" title="View all {{ .Section }}s">{{ .Section }}</a></span>
  
  <span class="title"><a href="{{ .RelPermalink }}" title="Open infographic page">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a>

    <span class="links">
      
      <a class="full-size" href="/infographic/{{ .Params.infographic.file }}.png" title="Direct link to full-size infographic">
        <img src="/img/external-link.png" alt="{{ .Title }}" />
        <span class="name">Direct link</span>
      </a>
      
    </span>
    
  </span>
  
  <span class="publish-time"><time itemprop="datePublished" datetime="{{ time .Date }}">{{ time .Date }}</time></span>
  
</h2>

