<article class="list-item infographic">
  
  {{ partial "article-list-item-headline-infographic.html" . }}
  
  <section class="body">
    <section class="infographic">
      <a href="{{ .RelPermalink }}" title="Open full-resolution infographic">
        <img src="/infographic/{{ .Params.infographic.file }}.jpg" />
      </a>
    </section>

    <section class="summary content">
      {{ .Summary }}
      
      {{ if .Truncated }}
      <span class="read-more">
        <a href="{{ .RelPermalink }}" title="Open full article">Read more</a>
        <span class="reading-time">({{ .ReadingTime }} min)</span>
      </span>
      {{ end }}
      
    </section>
    
  </section>
  
  {{ partial "article-meta.html" . }}
  
</article>
