<article class="single infographic aspect-{{ .Params.infographic.aspect }}"
         itemscope="itemscope" itemtype="http://schema.org/MediaObject">
  
  {{ partial "article-headline.html" . }}
  
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "MediaObject",
    "author": "Jon Ross",
    "dateModified": {{ time .Date }},
    "name": "{{ .Title }}",

    "encodingFormat": "png",
    
    "contentUrl": "/infographic/{{ .Params.infographic.file }}.png",
    }
  </script>

  <section class="body">
    
    <section class="infographic">
      <a href="/infographic/{{ .Params.infographic.file }}.png" title="Direct link to full-size infographic">
        <img src="/infographic/{{ .Params.infographic.file }}-{{ .Params.infographic.aspect }}.jpg" alt="{{ .Title }}" />
      </a>

      <div class="actions infographic-info">
        <a class="full-size button" href="/infographic/{{ .Params.infographic.file }}.png" title="Direct link to high-resolution infographic">View full-size</a>
      </div>
      
    </section>
    
    <section class="content">
      {{ .Content }}
    </section>

    <section class="license">
      <p>
        This infographic was created by {{ $.Param "author" }}.
        <a href="/contact/">Contact me</a> if you'd like to use it anywhere.
      </p>
    </section>
    
    {{ partial "article-comments.html" . }}
    {{ partial "article-meta.html" . }}
    
  </section>

</article>
