<h2 class="headline" itemprop="headline">
  
  <span class="section section-{{ .Section }}"><a href="{{ .Section | absURL }}" title="View all {{ .Section }}s">{{ .Section }}</a></span>
  
  <span class="title"><a href="{{ .RelPermalink }}" title="Read more">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a>
    {{ if .Params.app.android }}
    {{ if .Params.app.android.id }}
      <a class="app-os app-os-android" href="https://play.google.com/store/apps/details?id={{ .Params.app.android.id }}" title="Google Play Store link">
        <img src="/img/app-os-android.png" alt="Get it on Google Play" />
      </a>
    {{ end }}
    {{ if .Params.app.android.url }}
      <a class="app-os app-os-android" href="{{ .Params.app.android.url }}" title="Get the app">
        <img src="/img/external-link.png" alt="Get the app" />
      </a>
    {{ end }}
    {{ end }}
  </span>
  
  <span class="publish-time"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
  
</h2>

