<div class="meta">
  
  {{ with .Params.categories }}
  <ul class="categories">
    {{ range . }}
    <li><a href="/categories/{{ . | urlize }}"><span>{{ . }}</span></a></li>
    {{ end }}
  </ul>
  {{ end }}

  {{ if .Params.visible_tags }}
  {{ with .Params.visible_tags }}
  <ul class="tags">
    {{ range . }}
    <li><a href="/tags/{{ . | urlize }}"><span>{{ . | urlize }}</span></a></li>
    {{ end }}
  </ul>
  {{ end }}
  {{ else }}
  {{ with .Params.tags }}
  <ul class="tags">
    {{ range . }}
    <li><a href="/tags/{{ . | urlize }}"><span>{{ . | urlize }}</span></a></li>
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}
  
</div>
