<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    {{ partial "meta.html" . }}
    
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
  </head>
  <body data-title="{{ .Title }}" data-section="{{ .Section }}" class="no-js">
    
    <script>$('body').removeClass('no-js');</script>

    {{ partial "subheader.html" . }}
