<div id="hero-background">
  <img src="/img/background.jpg" />
  {{ if .Params.hero.background }}
  <!--<img src="/hero/{{ .Params.hero.background }}" />-->
  {{ else }}
  {{ end }}
</div>

<div id="hero">
  <div class="hero-contents" style="background-image: url('{{ .Params.hero.image }}')">
    <div class="message-box">
      <span class="message small">Here&rsquo;s something I&rsquo;ve made:</span>
      <a class="message large" href="{{ .Params.hero.url }}">{{ .Params.hero.title }}</a>
      <span class="message small">Keep scrolling to see other things that I&rsquo;ve made.</span>
    </div>
  </div>
  <!--<h1 class="title">{{ .Params.hero.title }}</h1>-->
</div>
