<header id="header" class="expanded">
  <div class="container">
    
    <a class="toggle-nav">
      Nav
    </a>
    
    <a class="path home-link" href="{{ .Site.BaseURL }}">
      <img class="logo" src="/img/header-logo.png" />
      <h1 class="title">{{ .Site.Title }}</h1>
    </a>

    <nav>
      
      <ul>
        <li class="link-apps"><a href="/app/"><span>Apps</span></a></li>
        <li class="link-infographics"><a href="/infographic/"><span>Infographics</span></a></li>
        <li class="link-posts"><a href="/post/"><span>Posts</span></a></li>
        <li class="link-projects"><a href="/project/"><span>Projects</span></a></li>
      </ul>
      
      <ul class="right">
        <li class="link-about"><a href="/about/"><span>About</span></a></li>
      </ul>
      
    </nav>
      
  </div>
</header>
